.git
.github
.vscode
.env
.venv
__pycache__
.pytest_cache
.ruff_cache
airflow
!airflow
!airflow/dags
!airflow/dags/**
api
docs
!docs
!docs/presentation
!docs/presentation/*.md
spark
!spark
!spark/jobs
!spark/jobs/**
tests
!tests
!tests/**
*.pdf
*.zip
