.git
.github
.vscode
!.vscode
!.vscode/*.json
.env
.venv
__pycache__
.pytest_cache
.ruff_cache
airflow
!airflow
!airflow/dags
!airflow/dags/**
api
docs
!docs
!docs/**
spark
!spark
!spark/jobs
!spark/jobs/**
tests
!tests
!tests/**
*.pdf
*.zip
